mixin mobileMenu(items)
	.b-mobileMenu.j-mobileMenu
		//- .b-mobileMenu__close
		//- 	.b-mobileMenu__close-line
		//- 	.b-mobileMenu__close-line
		ul.b-mobileMenu__list
			each item in items
				li.b-mobileMenu__item(class= {active : currentURL == item.href})
					a.b-mobileMenu__link(href=item.href) #{item.title}

//- Добавляем меню
+mobileMenu([
	{'title': 'About', 'href': 'index.html'},
	{'title': 'Portfolio', 'href': '#portfolio'},
	{'title': 'Services', 'href': '#services'},
	{'title': 'Contact', 'href': '#contact'}
])