.b-address
	.b-container
		.b-address__wrap
			.b-address__item
				.b-address__item-title Daisy
				address.b-address__item-text 615 4th Ave S, Jacksonville Beach, FL 32250
	include ../../components/map/map