.b-address {
	background-color: $white;
}

.b-address__wrap {
	position: relative;
}

.b-address__item {
	@include bg(contain);
	width: 209px;
	height: 242px;
	text-align: center;
	color: $white;
	background-image: url("../img/sprite/icon-ellipsis.svg");
	position: absolute;
	top: -121px;
	left: 0; right: 0;
	z-index: 1;
	margin: auto;
	padding-top: 76px;

	@include tablets {
		width: 145px;
    	height: 168px;
	    top: -84px;
	    padding-top: 43px;
	}

	@include phone {
		width: 120px;
    	height: 140px;
	    top: -70px;
	    padding-top: 30px;
	}
}

.b-address__item-title {
	@include encore(medium);
	font-size: rem(27px);
	line-height: 20px;
	margin-bottom: 20px;

	@include tablets {
		margin-bottom: 10px;
	}
}

.b-address__item-text {
	@include encore(light);
	font-size: rem(15px);
	line-height: 20px;
	font-style: normal;

	@include tablets {
		line-height: 18px;
	}
}