section.b-advertising
	.b-container
		.b-advertising__block
			.b-advertising__left
				img(src="img/advertisingLaptop.png", alt="Picture laptop")
			.b-advertising__right
				h3.b-advertising-title.b-title-article advertising
				p.b-advertising__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
				+button("#", "More details")(class="b-button-red")