section.b-marketing
	.b-container
		.b-marketing__block
			.b-marketing__right
				img(src="img/marketing.png", alt="Picture marketing")
			.b-marketing__left
				h3.b-marketing-title.b-title-article marketing kit
				p.b-marketing__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
				+button("#", "More details")(class="b-button-red")