.b-ourTeam
	.b-container
		h2.b-title.b-ourTeam__title our 
			span team
		.b-ourTeam__list
			.b-ourTeam__item
				.b-ourTeam__item-img
					img(src="img/tomothy.png", alt="Tomothy Bowman")
				.b-ourTeam__item-name
					span Tomothy 
					| Bowman
				p.b-ourTeam__item-occupation Marketing
				+social([
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-twitter'
					},
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-facebook'
					},
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-linkedIn'
					}
				])

			.b-ourTeam__item
				.b-ourTeam__item-img
					img(src="img/steve.png", alt="Steve Tracy")
				.b-ourTeam__item-name
					span Steve 
					| Tracy
				p.b-ourTeam__item-occupation Ceo
				+social([
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-twitter'
					},
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-facebook'
					},
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-linkedIn'
					}
				])

			.b-ourTeam__item
				.b-ourTeam__item-img
					img(src="img/hellen.png", alt="Hellen Johns")
				.b-ourTeam__item-name
					span Hellen 
					| Johns
				p.b-ourTeam__item-occupation Clients
				+social([
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-twitter'
					},
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-facebook'
					},
					{
						'href': '#',
						'svgWidth': '37px',
						'svgHeight': '37px',
						'svgHref': '#icon-linkedIn'
					}
				])