.b-portfolio
	.b-container
		h2.b-title.b-portfolio__title portfolio
		ul.b-portfolio__tabs
			li.b-portfolio__tabs-item
				a.b-portfolio__tabs-link(href="#") all
			li.b-portfolio__tabs-item
				p /
			li.b-portfolio__tabs-item
				a.b-portfolio__tabs-link(href="#") entertainment
			li.b-portfolio__tabs-item
				p /
			li.b-portfolio__tabs-item
				a.b-portfolio__tabs-link(href="#") sport
			li.b-portfolio__tabs-item
				p /
			li.b-portfolio__tabs-item
				a.b-portfolio__tabs-link(href="#") business
			li.b-portfolio__tabs-item
				p /
			li.b-portfolio__tabs-item
				a.b-portfolio__tabs-link(href="#") building
		.b-portfolio__content
			a.b-portfolio__content-item(href="#")
				img(src="img/portfolio/work1.jpg", alt="work")
				span.b-portfolio__content-item-appBlock
					span.b-portfolio__content-item-appBlock-title mountain bikes
					span.b-portfolio__content-item-appBlock-plus
			a.b-portfolio__content-item(href="#")
				img(src="img/portfolio/work2.jpg", alt="work")
				span.b-portfolio__content-item-appBlock
					span.b-portfolio__content-item-appBlock-title mountain bikes
					span.b-portfolio__content-item-appBlock-plus
			a.b-portfolio__content-item(href="#")
				img(src="img/portfolio/work3.jpg", alt="work")
				span.b-portfolio__content-item-appBlock
					span.b-portfolio__content-item-appBlock-title mountain bikes
					span.b-portfolio__content-item-appBlock-plus
			a.b-portfolio__content-item(href="#")
				img(src="img/portfolio/work4.jpg", alt="work")
				span.b-portfolio__content-item-appBlock
					span.b-portfolio__content-item-appBlock-title mountain bikes
					span.b-portfolio__content-item-appBlock-plus
			a.b-portfolio__content-item(href="#")
				img(src="img/portfolio/work5.jpg", alt="work")
				span.b-portfolio__content-item-appBlock
					span.b-portfolio__content-item-appBlock-title mountain bikes
					span.b-portfolio__content-item-appBlock-plus
			a.b-portfolio__content-item(href="#")
				img(src="img/portfolio/work6.jpg", alt="work")
				span.b-portfolio__content-item-appBlock
					span.b-portfolio__content-item-appBlock-title mountain bikes
					span.b-portfolio__content-item-appBlock-plus
		+button("#", "I want landing page")(class="b-button-red")