.b-portfolio {
	text-align: center;
	background-color: $white;
	padding: 80px 0 70px;

	@include tablets {
		padding: 50px 0;
	}

	@include phone {
		padding: 40px 0;
	}
}

.b-portfolio__title {
	margin-bottom: 40px;

	@include tablets {
		margin-bottom: 20px;
	}
}

.b-portfolio__tabs {
	@include reset-list();
	@include flex(space-between);
	border-top: 1px solid $text;
	border-bottom: 1px solid $text;
	padding: 20px 0;
	margin-bottom: 45px;

	@include tablets {
		display: none;
	}
}

.b-portfolio__tabs-item {
	text-align: left;

	&:first-child {
		padding-left: 15px;
	}

	&:last-child {
		padding-right: 15px;
		text-align: right;
	}
}

.b-portfolio__tabs-link {
	@include encore(light);
	font-size: rem(20px);
	color: $red;
	text-transform: uppercase;
	line-height: 24px;
	text-decoration: none;
}

.b-portfolio__content {
	@include flex();
	margin-bottom: 60px;
	margin-left: -1%;

	@include tablets {
		margin-bottom: 40px;
	}

	@include phone {
		margin-bottom: 20px;
	}
}

.b-portfolio__content-item {
	@include inlineBlock();
	position: relative;
	height: 185px;
	overflow: hidden;
	margin-left: 1%;
	margin-bottom: 1%;

	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 24%;

	img {
		@include object-fit(cover);
		width: 100%;
		height: 100%;
	}

	&.big {
		flex-basis: 49%;

		@include tablets {
			flex-basis: 99%;
		}
	}

	&:hover {
		.b-portfolio__content-item-appBlock {
			visibility: visible;
			opacity: 1;
		}
	}

	@include laptop {
		height: 160px;
	}

	@include tablets {
		height: 180px;
		flex-basis: 49%;
	}

	@media screen and(max-width: 375px) {
		height: 150px;
	}
}

.b-portfolio__content-item-appBlock {
	@include encore(bold);
	color: $white;
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: rgba($red, 0.7);
	padding: 25px;
	visibility: hidden;
	opacity: 0;
	transition: visibility, opacity, ease 0.3s;

	@include laptop {
		padding: 15px;
	}
}

.b-portfolio__content-item-appBlock-title {
	display: block;
	font-size: rem(28px);
	line-height: 26px;
	text-transform: uppercase;

	@include laptop {
		font-size: rem(24px);
		line-height: 22px;
	}

	@include tablets {
		font-size: rem(20px);
		line-height: 18px;
	}
}

.b-portfolio__content-item-appBlock-plus {
	display: block;
	width: 46px;
	height: 44px;
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	margin: auto;
	background-image: url("../img/plus.png");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;

	@include laptop {
		width: 36px;
		height: 34px;
	}

	@include tablets {
		width: 30px;
		height: 28px;
	}
}