.b-quotes
	.b-container
		.b-quotes__img
			svg.b-quotes__img-svg(width="74px" height="86px")
				use(xlink:href="#icon-quote")
		.b-slider
			.b-slider__content.j-slider
				.b-slider__item
					.b-slider__item-flex
						.b-slider__item-left
							.b-slider__item-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed nonenim.
						.b-slider__item-center
							img.b-slider__item-img(src="img/alan.png", alt="Alan")
						.b-slider__item-right
							p.b-slider__item-name
								span Alan 
								| Richman
							p.b-slider__item-occupation CEO of Romashka
				.b-slider__item
					.b-slider__item-flex
						.b-slider__item-left
							.b-slider__item-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed nonenim.
						.b-slider__item-center
							img.b-slider__item-img(src="img/alan.png", alt="Alan")
						.b-slider__item-right
							p.b-slider__item-name
								span Alan 
								| Richman
							p.b-slider__item-occupation CEO of Romashka
				.b-slider__item
					.b-slider__item-flex
						.b-slider__item-left
							.b-slider__item-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed nonenim.
						.b-slider__item-center
							img.b-slider__item-img(src="img/alan.png", alt="Alan")
						.b-slider__item-right
							p.b-slider__item-name
								span Alan 
								| Richman
							p.b-slider__item-occupation CEO of Romashka
			.b-slider__controls
				.b-slider__control.prev.j-prev
					svg(width="31px" height="31")
						use(xlink:href="#icon-arrowLeft")
				.b-slider__control.next.j-next
					svg(width="31px" height="31")
						use(xlink:href="#icon-arrowRight")