section.b-whatWeDo
	.b-container
		h2.b-title.b-whatWeDo__title what do 
			span we do?
		.b-whatWeDo__block
			.b-whatWeDo__right
				img.b-whatWeDo__img.desctop(src="img/desctop.png", alt="Picture desctop")
				img.b-whatWeDo__img.laptop(src="img/laptop.png", alt="Picture laptop")
				img.b-whatWeDo__img.tablet(src="img/tablet.png", alt="Picture tablet")
			.b-whatWeDo__left
				h3.b-whatWeDo__block-title.b-title-article Landing Pages
				p.b-whatWeDo__block-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
				+button("#", "More details")(class="b-button-red")